<head>

</head>

<body>
	<h1>Ruby Cheatsheet</h1>
	<hr />

	<a href="/commandline">Command Line</a>
	<br />
	<a href="/search">Search<a>
	<br />
	<a href="https://google.com" target="_blank">Google</a>
</body>