<head>

</head>

<body>
<h1>Search For Man Pages</h1>
<hr />
<br />
<br />

<form action="/search_manpages" method="POST">
	<input type="text" name="manpages_erb" />
	<input type="submit" />
</form>
<br />
<a href="/">Home</a>
<br />
<a href="/commandline">Command Line Menu</a>

</body>